.navfont1 {
    font-family: 'Geostar Fill', cursive;
    font-size: 2rem;
}

.navfont2 {
    font-family: 'Geostar', cursive;
    font-size: 2rem;
}

.navfont3 {
    font-family: 'Press Start 2P', cursive;
    color: #FFFFFF;
}

.navbar {
    opacity: 0.95;
}